*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "poppins","Assistant","Kaushan";
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.header{
    width: 100%;
}
.header-inner{
    width: 100%;
    
}
.menu{
    width: 1170px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 15px 0px;
    justify-content: space-between;
}
.content ul{
    display: flex;  
    gap: 30px;
    align-items: center;
    
}
.content ul li{
   font-size: 18px;
   font-family:"poppins" ;
   font-weight: 500;
   color: #333333;
}
.content ul li a{
    color: black;
    font-size: 20px;
}
.btn{
    width:200px;
    height: 50px;
    background-color: #ff6000;
    color: white;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 20px;
    font-family:"poppins" ;
    font-weight: bold;
}
.package{
    background: url(../images/Desktop-Hero-Section-Img-PlanYourTour.webp) center fixed;
    background-size: cover;
}
.bg{
    width: 100%;
    background-color: rgba(12, 12, 12, 0.637);
}
.package-content{
    width: 1170px;
    margin: auto;
    font-family:"poppins";
    display: flex;
    padding-top: 125px;
    padding-bottom: 130px;

}
.content-left{
    width: 70%;
    color: #ffffff;
}
.content-left h2{
    font-size: 60px;
}
.content-left p{
    font-size: 20px;
    padding: 30px 0px;
}
.content-right{
    width: 29%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    padding-top: 20px;
    
}
.form{
    width: 87%;
}
.content-right h2{
    text-align: center;
    font-size: 24px;
    padding-bottom: 7px;
    
}
.text{
    width: 100%;
    font-size: 15px;
    margin: 7px 0px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid ;
    
}
.bttn{
        width: 297px;
        height: 50px;
        background-color: #ff6000;
        color: white;
        border: none;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 9px;
        margin-bottom: 20px;
        font-family:"poppins";
        font-weight: bold;
}
.package-option{
    width: 100%;
    height: 500px;
    margin-top: 90px;
}
.option-content{
    width: 1170px;
    margin: auto;
    text-align: center;
    
}
.option-content h4{
    font-size: 25px;
    color: #22a813;
    font-family:"Kaushan Script", cursive;
    padding-bottom: 7px;
}
.option-content h3{
    font-size: 45px;
    color: #333333;
    font-family:"poppins";
    padding-bottom: 10px;
    
}
.border{
    width: 50px;
    height: 2px;
    background-color: #22a813;
    margin-left: 550px;
}
.option-content p{
    font-family:"poppins";
    color: #333333;
    padding-top: 15px;
    padding-bottom: 30px;
}
.book-now{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.book-row1{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    margin-bottom: 30px;
    border-radius: 5px 0px;
    
}
.book-row1 img{
    width: 100%;
    border-radius: 5px;
}
.content{
    display: flex;
    flex-direction: column;
    font-family:"Kaushan Script", cursive;
    color: #333333;
    padding: 20px;
}
.content h4{
    padding-bottom: 10px;
    font-size: 15px;
}
.content h3{
    padding-bottom: 10px;
    font-size: 20px;
}
.contentp{
    padding-bottom: 10px;
    font-size: 15px;
}
.icon-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333333;
    font-family:"Kaushan Script", cursive;
}
.icon{
    width: 45%;
    height: 30px;
    margin: 6px;
    border: 1px solid #333333;
    font-size: 15px;
    border-radius: 40px;
    padding-top: 5px;
}
.cost{
    color: #22a813;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;

}
.about-kerala{
    width: 100%;
    margin-top: 150px;
    background: url(../images/about_kerala.webp) center ;
  
}
.kerala{
    width: 1170px;
    margin: auto;
    height: 326px;
    position: relative;
    z-index: 999;
    top: 10%;
    padding-top: 100px;
    text-align: center;
    font-family:"Kaushan Script", cursive;
}
.kerala h4{
    color: #22a813;
    font-size: 30px;
}
.kerala h3{
    color: #ffffff;
    font-size: 60px;
    font-family:"poppins";
}
.kerala p{
    color: #ffffff;
    font-size: 18px;
    font-family:"poppins";
    padding: 20px 0px;
}
.video-content{
    width: 100%;
    padding-top: 100px;
    position: absolute;
    top: 234px;
}
.video-content video{
    width: 450px;
    padding-bottom: 60px;
} 
.book{
    width: 100%;
}
.book-content{
    width: 1170px;
    margin: auto;
    text-align: center;
    padding-top: 240px;
    font-family:"Kaushan Script", cursive;
}
.book-content h3{
    font-family:"Kaushan Script", cursive;
    color: #22a813;
    font-size: 30px;
    padding-top: 20px;
    font-weight: normal;
}
.book-content h4{
    font-size: 50px;
    color: #333333;
}
.book-content p{
    padding-top: 10px;
    color: #333333;
    padding-bottom: 40px;
}
.book-info{
    width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.info-content{
    width: 25%;
    font-size: 17px;
    padding: 20px  30px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
}
.info-content i{
    padding-right: 10px;
    color: #22a813;
    font-size: 22px;
}
.info-row2{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.info-content1{
    width: 25%;
    font-size: 17px;
    padding: 20px  30px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    margin-left: 20px;
}
.info-content1 i{
    font-size: 22px;
    padding-right: 10px;
    color: #22a813;
}
.feedback{
    width: 100%;
    margin-top: 250px;
}
.feedback-content{
    width: 1170px;
    margin: auto;
    text-align: center;
}
.feedback-content h3{
    color: #22a813;
    font-family:"Kaushan Script", cursive;
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 10px;
}

.feedback-content h4{
    font-size: 50px;
    padding-bottom: 10px;
    color: #333333;
}
.feedback-content p{
    font-size: 18px;
    padding-bottom: 20px;
    color: #333333;
    padding-top: 10px;
}
.feedback-review{
    width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
}
.review-row{
    width: 45%;
    text-align: center;
    background-color:  #f3f4f6;
    padding-top: 20px;
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.review-row h3{
    padding-top: 20px;
    padding-bottom: 4px;
}
.review-row p{
    padding: 0px 16px;
}
.offers{
    width: 100%;
    height: 311px;
    margin-top: 80px;
    background: url(../images/discount.jpg) center ;
    background-size: cover;
}
.obg{
    width: 100%;
    height: 311px;
    background-color: rgba(252, 250, 250, 0.66);
}
.offers-content {
    width: 1170px;
    margin: auto;
    text-align: center;
    
}
.offers-content h4{
    color: #22a813;
    font-family:"Kaushan Script", cursive;
    font-size: 25px;
    padding-top: 80px;
    font-weight: normal;
}
.offers-content h3{
    font-size: 40px;
    padding-bottom: 10px;
    color: #333333;
}
.faq{
    width: 100%;
    margin-top: 100px;
}
.faq-content{
    width: 1170px;
    margin: auto;
    text-align: center;
}
.faq-content h4{
    color: #22a813;
    font-family:"Kaushan Script", cursive;
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 10px;
}
.faq-content h3{
    font-size: 50px;
    padding-bottom: 10px;
    color: #333333;
}
.faq-content p{
    font-size: 18px;
    padding-bottom: 20px;
    color: #333333;
    padding-top: 10px;
}
.faq-qna{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.qna-content{
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-bottom: 25px;
    background-color:  #f3f4f6;;
    text-align: left;
}
.qna-content p{
    color: rgba(0, 0, 0, 0.7);
}
.qna-content h2{
    font-size: 20px;
}
.qna-content i{
    padding-left: 600px;
}
.last{
    width: 100%;
}
.last-content{
    width: 1170px;
    margin: auto;
    text-align: center;

}
.last-content h4{
    color: #22a813;
    font-family:"Kaushan Script", cursive;
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 150px;
}
.last-content h3{
    font-size: 50px;
    padding-bottom: 10px;
    color: #333333;
}
.last-content p{
    padding-bottom: 40px;
    color: #333333;
    padding-top: 10px;
}
.last{
    width: 1170px;
    margin: auto;
}
.last-form{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.texts{
    width: 90%;
    font-size: 15px;
    margin: 7px 0px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    
    
}
.bttns{
    width: 471px;
    height: 50px;
    background-color: #ff6000;
    color: white;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 9px;
    margin-bottom: 20px;
    font-family:"poppins";
    font-weight: bold;
}
.frow{
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 27px;
}
.frow i{
    width: 90%;
    font-size: 20px;
    padding-right: 10px;
}

.final{
    width: 100%;
    background-color: #f3f4f6;
    margin-top: 40px;
}
.final-content{
    width: 1170px;
    margin: auto;
    text-align: center;
}
.final-content h4{
    color: #22a813;
    font-family:"Kaushan Script", cursive;
    font-size: 25px;
    padding-top: 80px;
    padding-bottom: 20px;
    font-weight: normal;
}
.online i{
    font-size: 30px;
    padding-right: 8px;

}
.final-content p{
    padding-bottom: 100px;
    padding-top: 10px;
}